.header{
    background-color: $gray-100;
    &__inner{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        padding: 5px 0;
        max-width: 1280px;
        margin: 0 auto;
    }
    &__nav-center{
        
        .item-list{
            display: flex;
            align-items: center;
            list-style: none;
            .item{
                a{
                    padding:10px;
                    font-size: 14px;
                    text-decoration: none;
                    color: $neutral-600-anchor;
                    font-weight: $font-700;
                    text-transform: capitalize;
                }
            }
        }
    }
}